@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    font-family: roboto;
}

.lunches {
    background: url("picture.svg") no-repeat, linear-gradient(to bottom, #eeecda 0, #f4dfc6 100%);
    background-position-y: 125%;
    white-space: nowrap;
    min-width: 1100px;
}

.lunches__header {
    display: flex;
    align-items: center;
}

.lunches__title-wrapper {
    padding: 20px;
}

.lunches__title {
    color: black;
    text-decoration: none;
    padding-right: 60px;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
}

.lunches__title:hover {
    text-decoration: underline;
}

.navigation__arrows {
    margin-left: auto;
    margin-right: 30px;
}

.navigation__arrow {
    padding-right: 30px;
    cursor: pointer;
}

.navigation__arrow_disabled {
    opacity: 0.1;
    cursor: default;
}

.lunches__restaurants {
    overflow: hidden;
}

.lunches__slider {
    display: flex;
    transition: 0.3s
}

.lunches__restaurants-item {
    min-width: 25%;
    white-space: normal;
}

.lunches__restaurants-picture {
    height: 150px;
    border: solid white 1px;
}

.lunches__restaurant-name, .lunches__restaurant-address, .lunches__restaurant-businessHours {
    display: block;
    color: white;
    margin-left: 10px;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}

.lunches__restaurant-name, .lunches__restaurant-address {
    text-decoration: none;
}

.lunches__restaurant-name:hover, .lunches__restaurant-address:hover {
    text-decoration: underline;
}

.lunches__restaurant-menu-dishes {
    list-style-type: none;
    padding-left: 15px;
}

.lunches__restaurant-menu-dish {
    margin-bottom: 10px;
}

.lunches__menu-price {
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 15px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.lunches__restaurants-item:hover .lunches__menu-price {
    background-color: red;
}

.lunches__restaurant-dish-name {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}

.lunches__restaurant-dish-price {
    font-size: 12px;
    background-color: darkgrey;
}

.lunches__restaurant-name {
    padding-top: 10px;
    font-weight: bold;
}

@media screen and (max-width: 1240px) {
    .lunches__restaurants-item {
        min-width: 33%;
    }
}